/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
#app-wrapper{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Classi per margin e padding */
.margin-top-20{
    margin-top: 20px;
}
.padd-left-20{
    padding-left: 20px;
}
/* END COMMON */

/* MAIN */
main{
    height: calc( 100% - 70px );
}

/* Nav */
nav{
    float: left;
    width: 230px;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

nav .nav-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav a{
    color: #a3a3a3;
    font-size: 13px;
    line-height: 30px;
}
nav a:hover{
    color: #fff;
}

/* Nav Logo */
nav .logo img{
    height: 40px;
}

/* Nav Menu */
nav .nav-menu-list li:not(.active){
    padding-left: 20px;
}

nav .nav-menu-list a img,
nav .nav-menu-list a{
    vertical-align: middle;
}

nav .nav-menu-list .active{
    border-left: 2px solid #adff2f;
    padding-left: 18px;
}
nav .nav-menu-list .active a{
    color: #fff;
}

nav .nav-menu-list img{
    height: 20px;
}

/* Nav Playlist Container */
nav .playlist-container{
    flex-grow: 1;
    min-height: 100px;
    overflow: hidden;
}

nav .playlist-menu{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 65px;
}

nav .playlist-container h3{
    font-size: 15px;
}
nav .playlist-container .add i{
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}
nav .playlist-container .add:hover i{
    background-color: #fff;
}

/* Nav Profile Container */
nav .account{
    padding: 5px 20px;
}

nav .account .install img{
    height: 15px;
    vertical-align: middle;
}
nav .account .install{
    border-bottom: 1px solid #a3a3a3;
}

nav .account .profile{
    padding-top: 10px;
}
nav .account .profile img{
    height: 20px;
    width: 20px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
}
nav .account .profile .profile-name{
    font-size: 13px;
    padding-left: 5px;
}

/* Main Content */
.main-content{
    float: left;
    width: calc( 100% - 230px );
    height: 100%;
    overflow-y: auto;

    /* TEST */
    background-color: darkcyan;
}
/* END MAIN */

/* FOOTER */
footer{
    height: 70px;
    overflow: hidden;
    background-color: #282828;
    color: #fff;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Footer Left */
footer .footer-left{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

footer .footer-left .song-img img{
    height: 40px;
}

footer .footer-left .song-name{
    padding-left: 10px;
}
footer .footer-left .song-name .song{
    font-size: 12px;
}
footer .footer-left .song-name .band a{
    font-size: 10px;
    color: #848484;
}
footer .footer-left .song-name .band a:hover{
    color: #fff;
    text-decoration: underline;
}

footer .footer-left .song-icons i{
    color: #848484;
}
footer .footer-left .song-icons i:hover{
    color: #fff;
}
/* END FOOTER */

